/* *{border: solid 2px red} */

@import url( 'https://fonts.googleapis.com/css2?family=Roboto:300,400,500,700,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:4px ;
}
/* -----네비바 설정 데스크탑 ------*/
.navibar{
    position: absolute;
    top: 2%;
    left: 53%; transform: translateX(-50%);
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    z-index: 99;
}

.navibar > ul {
    display: inline-block;
    list-style-type: none;
    
}

.navibar > ul li {
    float: left;
    padding: 0 10px;
    text-decoration: none;
}

.underlinehover{
    position: absolute;
    width: 250px;
    left: 50%; transform: translateX(-50%);
}

.underlinehover > li > a{
    text-decoration: none;
    list-style: none;
    color: rgb(127, 127, 127);
}

.hover:hover{
    color: #fff;
    transition: .3s;
    transform: scale(1.2);
}
/* -----네비바 설정 데스크탑 ------*/

.container .card
{
    position: relative;
    width: 260px;
    height: 260px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .percent
{
    position: relative;
    width: 150px;
    height: 150px;
}

.container .card .percent svg
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.container .card .percent svg circle
{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #000000;
    transform: translate(5px, 5px);
}    

.container .card .percent svg circle:nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.dot
{
    position: absolute;    
    inset: 5px;
    z-index: 10;
    
    /* 360deg / 100 = 3.6 */
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before
{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 40px var(--clr) ;
}

.number
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.number h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span
{
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}

.number p
{
    font-weight: 300;
    font-size: 0.7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}

.boxes{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    top: 100%;
    width: 99vw;
    height: 400px;
    text-align: center;
    
}

.boxes2{
    position: absolute;
    
    justify-content: center;
    align-items: center;
    
    background-color: rgb(0, 0, 0);
    top: 160%;
    width: 100vw;
    height: 150px;
    
} 

.ajic{
    font-size: 17px;
    position: absolute;
    
    justify-content: center;
    align-items: center;
    
    top: 25%;
}

.hh3{
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 45%;
}

.pwb{
    font-size: 17px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 140%;
}

.page{
    font-size: 17px;
    position: absolute;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.hh6{
    font-size: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    z-index: 99;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}
